
@import url("menu.css");
@import url("mobile.css");
@import url("main.css");
@import url("boda.css");

.contactos{
    top:15%;
    display: flex;
    align-content: center;
    align-items: baseline;
    justify-content: center;
}

.one {
    display: block;
    margin-bottom: 50px;
}

.two {
    display: none;
}


.contact-title .text-boda {
    width: 50%;
    text-align: center;
}

.contact-title .text-boda h2 {
    font-size: 25px;
}

.menu-toggle {
    background-color: white;
}

.contact-container {
    width: 25%;
}

.location-item img {
    width: 60vh;
    height: 35vh;
    object-fit: cover;
    
}

.text-boda {
    width: 80%;
    color: #9f9f9f;
    margin-block: 0px;
    font-size: 16px;
}

.text-boda h2 {
    font-size: 18px;
}

p {
    font-size: 16px;
    font-family: 'Optima';
    font-weight: lighter;
    color: #9f9f9f;
    text-align: center;
}

@media (max-width: 1135px) {
    .one {
        display: none;
    }

    .contactos {
        display: flow;
        position: absolute;
        top: 15%;
    }

    .two {
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .contact-title .text-boda {
        width: 80%;
        text-align: justify;
        
    }

    .contact-title .text-boda h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    /*
    .title-text p {
        width: 80%;
        text-align: center;
    }*/

    .contact-container {
        margin-block-end: 50px;
        width: 100%;
        top: 15px;
        position: relative;
    }

    .location-item {
        margin-bottom: 40px;
        width: 80%;
    }

    .text-boda {
        width: 80%;
        color: #9f9f9f;
        margin-block: 0px;
        font-size: 15px;
    }

    .text-boda h2 {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .text-boda p {
        margin-top: 5px;
        text-align: center;
    }
}