@import url("main.css");
/* Estilo general para la sección hero (foto de fondo) */

.body {
    overflow: hidden;
}

.hero-container{
    position: absolute;
    z-index: 1;
    display: contents;
}

.hero {
    /* position: relative; */
    width: 65%;
    height: 65vh;
    background-image: url(../images/prueba_2.jpeg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* display: flex
; */
    justify-content: center;
    align-items: center;
    /* color: rgb(81, 79, 79); */
    text-align: center;
    margin: 0 auto;
}

/* Estilo para la capa que está sobre la imagen (el overlay) */
.overlay {
    position: absolute; /* Permite que la capa se posicione sobre la imagen */
    top: 0; /* Asegura que la capa comience en la parte superior */
    left: 0; /* Asegura que la capa comience desde la izquierda */
    width: 100%; /* Cubre todo el ancho de la pantalla */
    height: 100%; /* Cubre toda la altura de la pantalla */
    /*background-color: rgb(81 79 79 / 24%);*/
    /*background-color: rgba(255, 255, 255, 0.309);  Fondo blanco semitransparente */
    z-index: 1; /* Asegura que la capa quede encima de la imagen */
}


/* Ajuste del contenido para estar encima de la capa */
.content {
    position: relative; /* Asegura que el contenido esté sobre la capa blanca */
    z-index: 2; /* Coloca el contenido sobre la capa blanca */
    color: rgb(81, 79, 79);   /* Color del texto */
    text-align: center; /* Centra el texto */
    margin-top: 30px;
}

/* Estilo para los nombres de la pareja */
.names {
    font-family: 'Didot';
    font-size: 2rem; /* Tamaño grande para los nombres */
    font-weight: lighter;
    color: #ea401d;
    /*color: rgb(136, 136, 136);*/
    margin-block: 0;
    margin-inline: 0;
    letter-spacing: 0.15rem;
}

/* Estilo para la fecha */
.date {
    font-family: 'Optima';
    font-size: 1.2rem;
    font-weight: lighter;
    color: #ea401d;
    /*color: rgb(136, 136, 136);*/
    /*margin: 10px;*/ /* Espacio entre los elementos */
    margin-block: 0;
    margin-inline: 0;
}

.rsvp-button {
    display: inline-block;  /* Para que no sea un bloque, como el comportamiento por defecto */
    padding: 15px 30px;  /* Espaciado interno, ajusta según sea necesario */
    font-family: 'Didot';
    font-size: 1rem;  /* Tamaño del texto */
    font-weight: lighter;  /* Hacer el texto en negrita */
    text-align: center;  /* Centrar el texto dentro del botón */
    text-decoration: none;  /* Quitar el subrayado del enlace */
    border: 1px solid rgb(61, 60, 60);  /* Borde grueso, puedes cambiar el color */
    border-radius: 0px;  /* Esquinas redondeadas */
    color: rgb(81, 79, 79);  /* Color del texto, igual que el borde */
    background-color: rgba(242, 239, 239, 0.116);  /* Fondo transparente */
    transition: all 0.5s ease;  /* Efecto de transición para hover */
}

/* Efecto al pasar el ratón sobre el botón */
.rsvp-button:hover {
    background-color: rgb(81, 79, 79);   /* Fondo rojo cuando el ratón pasa por encima */
    color: rgb(207, 200, 200);  /* Cambiar color del texto a blanco */
    cursor: pointer;  /* Cambiar cursor cuando se pasa sobre el botón */
}


@media (max-width: 1135px) {
    button.burger{
        margin-right: 0px;
    }

    .hero-container {
        overflow: hidden;
    }
}