@import url("mobile.css");

/* Establece un estilo global para la página */
body {
    margin: 0; /* Elimina los márgenes predeterminados */
    line-height: 1.6; /* Mejor legibilidad entre líneas */
}

/* Asegura que el contenido principal no quede cubierto por el menú fijo */
.hero {
    padding-top: 80px; /* Deja espacio para que el contenido no se oculte bajo el menú */
}
  
/* Asegúrate de que todas las imágenes sean responsivas */
img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 1135px) {

    h2 {
        font-size: 18px;
    }
}



