/* Establece un estilo global para la página */
body {
    margin: 0; /* Elimina los márgenes predeterminados */
    font-family: Arial, sans-serif; /* Establece una fuente común */
    line-height: 1.6; /* Mejor legibilidad entre líneas */
}

  
/* Asegúrate de que todas las imágenes sean responsivas */
img {
    max-width: 100%;
    height: auto;
}
