@import url("boda.css");

.photo-container {
    width: 100%;
}

img.imagen-playa{
    object-position: center;
    width: 100%;
    height: 65vh;
    object-fit: cover;
}

.text-boda {
    margin-block-end: 20px;
}

.text-boda a {
    font-size: 15px;
    color: #e06147;
    margin-bottom: 10px;
}

.location-pboda {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-bottom: 50px;
}

.location-pboda img{
    width: 87vh;
    height: 50vh;
    object-fit: cover;
    object-position: center bottom;
    overflow: hidden;
}

@media (max-width: 1135px) {

    .hero-section {
        height: 45vh;
    }

    .hero-section img {
        z-index: 1;
    }

    .hero-section div.overlay {
        background-color: #00000052;
    }

    .text-boda {
        margin: auto 10px 15px auto;      
    }

    .text-boda a {
        font-size: 14px;
    }

    .text-boda img {
        margin-top: 25px;
    }
    
    .location-pboda {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;
        position:static;
        flex-direction: column;
        margin-bottom: 0px;
    }

    .location-pboda img {
        width: 100%;
        height: auto;
        border-radius: 0px;
        max-height: 255px;
        object-fit: cover;
        object-position: center bottom;
    }
}