body {
    background-image: url('/assets/images/Sobras_bailando.jpg');
    background-size: cover;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: block;
    overflow: hidden;
  }
  
  .rsvp-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.73);
    z-index: 1;
    pointer-events: none; /* Evita que bloquee clics en botones */
    overflow: hidden;
  }  

  .contenedor-formulario {
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    text-align: center;
    max-width: 500px;
    width: 70%;
    box-shadow: 0px 0px 8px rgb(170, 168, 168);
  }
  
  .contenedor-formulario h1 {
    font-family: 'Didot', 'sans-serif';
    color: #e06147;
    letter-spacing: 0.15em;
    word-spacing: 0;
    font-weight: lighter;
    font-size:18px;
  }
  
  .contenedor-formulario p {
    font-size: 15px;
    margin: 20px 0px;
    color: rgb(170, 168, 168);
    font-family: 'Optima';
    font-weight: lighter;
  }
  
  .button-group {
    display: grid;
    /*display: flex;
    justify-content: space-around;*/
    justify-content: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: 'Optima';
    width: 100%;
  }
  
  .yes-button {
    background-color: #ffffff00;
    color: #e06147;
    border-color: #e06147;
    margin: 15px 0px 10px 0px;
    padding: 20px 40px;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 0;
  }
  
  .no-button {
    background-color: #fcfafa00;
    /*color: rgb(136, 136, 136);*/
    color: #e06147;
    padding: 0;
    margin: 10px 0;
    border: none;
    font-size: 14px;
    text-decoration: underline;
  }
  
  button:hover {
    transform: scale(1.05);
  }
  
  button:active {
    transform: scale(1);
  }
  
  .yes-button:hover {
    background-color: #e06147;
    color: whitesmoke;
    transition: all 0.5s ease; /* Transición suave para el hover */
  }
  
  .no-button:hover {
    color: #e06147;
  }


  @media (max-width: 1135px){
    body {
      height: 100%;
    }

    .rsvp-container {
      top: 50%;
  }

  }